* {
  margin: 0;
  padding:0;
  box-sizing:border-box;
}
footer{

  width: 100%;
  bottom: 0  ;
  background-color: black;
  color:aliceblue;
  padding: 2rem;
  text-align: center;

}
.canton-card{
  height:400px;
}
  img {
   
  transition: transform 0.3s;
}

  .canton-card:hover{
  box-shadow:3px 3px 20px 5px rgba(0,0,0,0.5);

  }

